<div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center" style="width:50%; padding-top:50px">
<div style="text-align:center"><h1>Edit Timelog</h1></div>
      <%= render "form", timelog: @timelog %>

</div>